In [1]:
import pandas as pd
import numpy as np

heart = pd.read_csv("heart.csv")
#df = pd.read_csv("/kaggle/input/heart-disease-dataset/heart.csv")
heart.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [2]:
heart.shape

(1025, 14)

In [3]:
heart.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [52]:
heart.isna().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [55]:
heart.duplicated().sum()

723

In [57]:
duplicateRows = heart[heart.duplicated()]
duplicateRows

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
15,34,0,1,118,210,0,1,192,0,0.7,2,0,2,1
31,50,0,1,120,244,0,1,162,0,1.1,2,0,2,1
43,46,1,0,120,249,0,0,144,0,0.8,2,0,3,0
55,55,1,0,140,217,0,1,111,1,5.6,0,0,3,0
61,66,0,2,146,278,0,0,152,0,0.0,1,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [4]:
heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [11]:
labels= np.array(heart.iloc[:,-1:])

In [12]:
labels

array([[0],
       [0],
       [0],
       ...,
       [0],
       [1],
       [0]], dtype=int64)

In [8]:
features= np.array(heart.iloc[:,:13])
features

array([[52.,  1.,  0., ...,  2.,  2.,  3.],
       [53.,  1.,  0., ...,  0.,  0.,  3.],
       [70.,  1.,  0., ...,  0.,  0.,  3.],
       ...,
       [47.,  1.,  0., ...,  1.,  1.,  2.],
       [50.,  0.,  0., ...,  2.,  0.,  2.],
       [54.,  1.,  0., ...,  1.,  1.,  3.]])

In [30]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features, labels, test_size=0.3, random_state=0)

In [33]:
from sklearn.preprocessing import StandardScaler
# define min max scaler
scaler = StandardScaler()
# transform data
X_train_scaled = scaler.fit_transform(X_train)

In [34]:
X_train_scaled

array([[ 0.27717522,  0.65226323,  1.02564169, ...,  0.9790949 ,
        -0.73793656, -0.51108759],
       [ 0.49897726,  0.65226323, -0.91725155, ..., -0.66111782,
         1.20371671, -2.12540389],
       [ 1.82978951, -1.53312338, -0.91725155, ..., -0.66111782,
        -0.73793656, -0.51108759],
       ...,
       [ 1.16438338,  0.65226323,  1.99708831, ..., -0.66111782,
         0.23289007, -0.51108759],
       [ 1.38618543,  0.65226323, -0.91725155, ..., -0.66111782,
        -0.73793656, -0.51108759],
       [ 0.60987828,  0.65226323,  1.02564169, ..., -0.66111782,
        -0.73793656, -0.51108759]])

In [37]:
X_test_scaled = scaler.fit_transform(X_test)
X_test_scaled

array([[-1.11935087,  0.68313005,  1.0322342 , ...,  1.03563873,
        -0.7181895 , -0.54798356],
       [ 0.40517249, -1.46385011,  0.05997691, ...,  1.03563873,
         1.22218213, -0.54798356],
       [ 0.94964512,  0.68313005, -0.91228038, ...,  1.03563873,
         1.22218213,  1.05943489],
       ...,
       [ 0.18738344,  0.68313005,  1.0322342 , ..., -0.54345399,
         0.25199632, -2.15540202],
       [ 0.29627796, -1.46385011, -0.91228038, ...,  1.03563873,
        -0.7181895 , -0.54798356],
       [-0.03040561,  0.68313005, -0.91228038, ..., -0.54345399,
         0.25199632,  1.05943489]])

### Linear Kernel

In [35]:
from sklearn.svm import SVC
svm_linear = SVC(kernel='linear', C=0.01)
svm_linear.fit(X_train_scaled, y_train)
print("Accuracy:", svm_linear.score(X_train_scaled, y_train))

Accuracy: 0.8270571827057183

c:\users\aanand.oradev\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [38]:
print("Accuracy:", svm_linear.score(X_test_scaled, y_test))

Accuracy: 0.8506493506493507

In [40]:
from sklearn.svm import SVC
svm_linear = SVC(kernel='linear', C=100)
svm_linear.fit(X_train_scaled, y_train)
print("Accuracy:", svm_linear.score(X_train_scaled, y_train))

c:\users\aanand.oradev\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Accuracy: 0.8326359832635983

In [41]:
print("Accuracy:", svm_linear.score(X_test_scaled, y_test))

Accuracy: 0.8571428571428571

### Polynomial Kernel

In [42]:
# Degree = 2
svm_degree_2 = SVC(kernel='poly', degree=2)
svm_degree_2.fit(X_train_scaled, y_train)
print("Polynomial kernel of degree = 2")
print("Accuracy:", svm_degree_2.score(X_train_scaled, y_train))

Polynomial kernel of degree = 2
Accuracy: 0.8507670850767085

c:\users\aanand.oradev\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [43]:
print("Accuracy:", svm_degree_2.score(X_test_scaled, y_test))

Accuracy: 0.8701298701298701

In [44]:
# Degree = 4
svm_degree_4 = SVC(kernel='poly', degree=4)
svm_degree_4.fit(X_train_scaled, y_train)
print("Polynomial kernel of degree = 4")
print("Accuracy:", svm_degree_4.score(X_train_scaled, y_train))

Polynomial kernel of degree = 4
Accuracy: 0.9330543933054394

c:\users\aanand.oradev\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [45]:
print("Accuracy:", svm_degree_4.score(X_test_scaled, y_test))

Accuracy: 0.948051948051948

### RBF Kernel

In [46]:
# gamma = 0.1
svm_gamma_01 = SVC(kernel='rbf', gamma=0.1)
svm_gamma_01.fit(X_train_scaled, y_train)
print("Gamma = 0.1")
print("Accuracy:", svm_gamma_01.score(X_train_scaled, y_train))

Gamma = 0.1
Accuracy: 0.9623430962343096

c:\users\aanand.oradev\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [47]:
print("Accuracy:", svm_gamma_01.score(X_test_scaled, y_test))

Accuracy: 0.974025974025974

In [48]:
# gamma = 1
svm_gamma_1 = SVC(kernel='rbf', gamma=1)
svm_gamma_1.fit(X_train_scaled, y_train)
print("Gamma = 1")
print("Accuracy:", svm_gamma_1.score(X_train_scaled, y_train))

Gamma = 1
Accuracy: 1.0

c:\users\aanand.oradev\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [51]:
print("Accuracy:", svm_gamma_1.score(X_test_scaled, y_test))

Accuracy: 0.987012987012987